.fz0
	font-size:0
.fz12
	font-size:12px
.fz14
	font-size:14px
.fz16
	font-size:16px
.fz18
	font-size:18px
.fz20
	font-size:20px
.fz22
	font-size:22px
.cursor
	cursor:pointer
.common_color
	color:#ff5868
.icon
  margin-top:-8px
.no_important
  font-size:12px
  color:#dcdddd
  

// 轮播图样式
.swiper-button-prev, .swiper-button-next
	background-image:none

.swiper-button-prev.icon.swiper-button-disabled, .swiper-button-next.icon.swiper-button-disabled
	color:#50e5fd !important

.swiper-button-prev.icon, .swiper-button-next.icon
	font-size:36px
	color:#333244
	line-height:44px


