#j-lhc{
  position: relative;
}

#j-lhc .nowm_list .firstline{
  margin-left:5px;
}
#j-lhc .nowm_list ul{
  float:left;
  margin-left:5px;
  width:190px;
}
#j-lhc .nowm_list ul.halfline{
  float:left;
  margin-left:5px;
  width:482px;
}

.halfline .inline-left{
  float:left;
  width:80%;
}

.halfline .inline-right{
  float:left;
  width:20%;
}

#j-lhc .linetitle{
  /*background: linear-gradient(#ff6a76,#cc444f); */
  background-color: #ff677e;
  line-height: 32px;
  color: #fff;
  font-size: 14px;
}

#j-lhc .linetitle > span{
  width:50%;
  display:inline-block;
  text-align:center;
}
#j-lhc .lineinput{
  padding:3px 0px;
  margin:3px 0px;
}
#j-lhc .highlight{
  background-color: #efefef;
  border-radius: 3px;
}

#j-lhc .lineinput > input,#j-lhc .inline-right > input{
  width: 50%;
  border: 1px solid #d4d4d4;
  box-shadow: inset 0 2px 4px #d4d4d4;
  line-height: 26px;
  background-color: #fbfbfb;
}

#j-lhc .inline-right > input{
  width:80%;
}

#j-lhc .lineinput > em,#j-lhc .inlineball > em{
  width: 25px;
  height: 25px;
  line-height: 23px;
  display: inline-block;
  float: left;
  background-color: #e0283b;
  color: #fff;
  border-radius: 13px;
  font-size: 14px;
  margin: 0px 5px;
}

#j-lhc .now_buzhong .lineinput > em{
  margin-left:34px;
}

#j-lhc .lineinput > em.lhclvball,#j-lhc .inlineball > em.lhclvball{
  background-color: #1bad0c;
}

#j-lhc .lineinput > em.lhclball,#j-lhc .inlineball > em.lhclball{
  background-color: #2876e0;
}
#j-lhc .inlineball > em{
  margin: 0px 2px;
}


#j-lhc .lineinput .flabel,#j-lhc .lineinput .slabel{
  float:left;
  min-width: 40px;
}
#j-lhc .highlight .flabel,#j-lhc .highlight .slabel{
  color:#333;
}

#j-lhc .lineinput > span{
  width: auto;
  height: 25px;
  line-height: 23px;
  display: inline-block;
  float: left;
  color: #333;
  border-radius: 13px;
  font-size: 14px;
}

#j-lhc .lineinput > span.chkdot,#j-lhc .lineinput .inline-right > span.chkdot{
  width: 24px;
  height: 24px;
  line-height: 14px;
  display: inline-block;
  float: left;
  background-color: #dfdfdf;
  border-radius: 8px;
  margin-left: 15px;
  border: 2px solid #989898;
  margin-top: 0px;
  cursor: pointer;
}
#j-lhc .lineinput > span.chkdot i,#j-lhc .lineinput .inline-right > span.chkdot i{
  display:none;
  font-size: 26px;
  margin-left: -3px;
  color: #bf3941;
  margin-top: 4px;
}
#j-lhc .lineinput.choosed > span.chkdot i,#j-lhc .lineinput.choosed .inline-right > span.chkdot i{
  display:block;
}

#j-lhc .lineinput .inline-right > span.chkdot{
  display:none;
}

#j-lhc .lhc_uls{
  position: relative;
  width: 980px;
  z-index: 0;
  min-height: 655px;
  background-color: #fff;
}

#j-lhc .nowm_help{
  text-align:left;
  padding-left:10px;
  width:980px;
  background-color: #ffffff;
}

#j-lhc .nowm_list {
  /*min-height:625px;  */
  background-color: #ffffff;
  width:980px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dcdddd;
}

#j-lhc .now_buzhong,#j-lhc .nowm_shengxiao{
  border-bottom: 0px solid #dcdddd;
  padding-bottom: 10px;
}


#j-lhc .total_rate{
  border-bottom: 1px solid #dcdddd;
  line-height: 45px;
  text-align: left;
  padding-left: 35px;
}

#j-lhc .nowm_help em{
  font-size:21px;
  color:#ff6a76;
  vertical-align: -11px;
}

#j-lhc .nowm_panel{
  position: absolute;
  right: 0px;
  top: -40px;
  height: 695px;
  border-radius: 4px 4px 0px 0px;
  background-color: #fafafa;
  padding-top: 10px;
  width: 210px;
}

#j-lhc .nowm_panel input{
  border: 1px solid #f05f6a;
  box-shadow: inset 0 2px 4px #e55762;
  height:21px;
  line-height:21px;
}

#j-lhc .nowm_panel .syncbtn{
  background: linear-gradient(#ff6a76,#cc444f);
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
  margin-right: 15px;
}
#j-lhc .nowm_panel .quickmoney{
  border-bottom:3px solid #dddddd;
  height: 35px;
}
#j-lhc .nowm_panel .quickmoney li{
  float:left;
  line-height: 25px;
}
#j-lhc .nowm_panel .quickmoney li.quicklabel{
  float:left;
  padding-left:10px;
  padding-right:10px;
}
#j-lhc .nowm_panel .quickset a{
  display: inline-block;
  width: 30px;
  height: 23px;
  background-color: #e5e5e5;
  text-align: center;
  border-radius: 3px;
  color: #333;
  margin-left: 5px;
  line-height: 23px;
}

#j-lhc .nowm_panel .quickset a.on{
  background-color: #ff677e;
  color: #fff;
}
#j-lhc .nowm_panel .resetbtn{
  line-height:26px;
}

#j-lhc .nowm_panel > div{
  height:24px;
  margin-bottom:8px;
}
#j-lhc .nowm_panel .lastclear{
  border-bottom: 1px solid #ffbebe;
  height: 35px;
}

#j-lhc .nowm_panel .bk{
  width:12px;
  display:inline-block;
  height: 21px;
}
.colorfilter{
  width:95%;
  margin:0px auto;
}
.colorfilter li{
  float:left;
  width:49%;
  font-size:14px;
  text-align: left;
  margin-left:0px;
  cursor: pointer;
  z-index: 1;
  height: 21px;
  display: inline-block;
}
.colorfilter li.choosed{
  color: #ff6a76;
}
.colorfilter li label{
  display:inline-block;
  width:80%;
  float:left;
  cursor: pointer;
  font-size:13px;
}
.colorfilter li .chkdot{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  border-radius: 8px;
  margin-top: 3px;
  margin-right: 2px;
  float: left;
}

.colorfilter li.choosed .chkdot{
  background-color: #ff6a76;
}
.colorfilter li:hover .chkdot{
  background-color: #ff6a76;
} 
.colorfilter li:hover{
  color: #ff6a76;
} 

.sxfilter{
  width:193px;
  height:193px;
  border-left:1px solid #dcdcdc;
  border-top:1px solid #dcdcdc;
  margin:0px auto;
  margin-top:20px;
}
.sxfilter_banbo{
  height:49px;
}
.sxfilter_sxiao{
  width:161px;
  height: auto;
  margin-top:10px;
}
.sxfilter_sxiaomore{
  width:161px;
  height: auto;
  margin-top:10px;
}
.sxfilter li{
  width: 48px;
  float: left;
  height: 48px;
  line-height: 48px;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
  background: linear-gradient(#ccc,#eee);
}
.sxfilter li.choosed{
  background-image: -webkit-linear-gradient(#fcffff, #f7eeef 50%, #e8dedf);
}

.sxfilter li label{
  display:block;
  cursor: pointer;
  color:#3173c9;
  font-size:14px;
}
.sxfilter li.redcls label{
  color:#e05568;
}

.hongcls{
  color:#e0283b;
}

.lvcls{
  color:#1bad0c;
}

.lancls{
  color:#2876e0;
}

.sxfilter li:hover{
  background-image: -webkit-linear-gradient(#fcffff, #f7eeef 50%, #e8dedf);
}

.sxfilter li.littlebig{
  width:96px;
}

.sxfilter_sxiao li.biggercol{
  width:80px;
}
.sxfilter_sxiao li.fullcol{
  width:160px;
}

.j-n3-filter,.j-n4-filter,.j-n5-filter{
  display:none;
}
#j-lhc .lineinput > span.blankgap{
  display:inline-block;
  width:50px;
}

.zhengmapos{
  width: 980px;
  height: 32px;
  padding-left: 10px;
  background-color: #fff;
}
.zhengmapos li{
  background: linear-gradient(#ccc,#eee);
  color: #333;
  padding: 4px 10px;
  border-radius: 5px;
  margin-right: 15px;
  height:25px;
  float:left;
  cursor:pointer;
}

.zhengmapos li.on{
  background: linear-gradient(#ff6a76,#cc444f);
  color: #fff;
}

.nowm_fires{
  padding:20px 0px;
  position: relative;
}
.nowm_fires .fl{
  color: #959595;
  line-height: 45px;
  margin-left: 10px;
  /* float: left; */
  position: absolute;
  left: 0px;
}
.nowm_fires .fl em{
  color:#ff818c;
}

.now_samefire{
  width: 167px;
  height: 43px;
  background-color: #ff677e;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 43px;
  border-radius: 22px;
}

.now_samefire:hover{
  color:#fff;
  background-color: #ff3c51;
}

.now_samereset{
  width: 87px;
  height: 43px;
  background-color: transparent;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 43px;
  border-radius: 22px;
  border:1px solid #666;
  color:#666;
}

.now_samereset:hover{
  color:#fff;
  background-color: #999;
  border:1px solid #999;
}

.now_sameinput{
  border: 1px solid #d4d4d4;
  box-shadow: inset 0 2px 4px #d4d4d4;
  line-height: 32px;
  background-color: #fbfbfb;
  padding:0px 5px;
  margin-right:6px;
  width:70px;
}



