@charset "utf-8";
.modal-header{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background: #ff416d;
  line-height: 40px;
  padding:0px 20px;
  color: #fff;
  font-size: 16px;
  
}
.modal-dialog .close {
  position: absolute;
  right: 8px;
  top: 3px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  font-weight:normal;
  text-shadow:none;
  opacity: 1;
  margin-top: 0px;
}
.modal-title {
    line-height: 40px;
}
#popnotice .modal-body{
  max-height:320px;
  overflow-x:hidden;
  overflow-y:auto;
  position: relative;
} 